<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"> 
  <Product Name='OpenStack Compute Essex' Id='{5ABDD367-DD40-4974-BF3E-A51257EC62E5}' UpgradeCode='{614BE682-855A-4CB0-A70C-F21322E2F64B}'
    Language='1033' Codepage='1252' Version='5.0.0' Manufacturer='OpenStack.org'>

    <Package Id='*' Keywords='Installer' Description="OpenStack Essex Installer"
      Comments='OpenStack Essex Installer' Manufacturer='OpenStack.org'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    <Media Id='1' Cabinet='essex.cab' EmbedCab='yes' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
          <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='INSTALLDIR' Name='OpenStack'>
              
              <Component Id="SetPath" Guid="{1781A625-8ACB-45E7-2351-219D81760B2E}">
		<CreateFolder />
                   <Environment Id="SetSystemPath"
                         Action="set"
                         Part="last"
                         Name="PATH"
                         Permanent="yes"
                         System="yes"
                         Value=';C:\Python27;c:\python27\scripts;[INSTALLDIR]nova;' />
               </Component> 
            </Directory>
          </Directory>
        </Directory>
   


    <Icon Id="openstack_icon.ico" SourceFile="openstack_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="openstack_icon.ico" />

    <SetProperty Id="InstallEZSetup" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\python.exe &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\ez_setup.py&quot;" After="CostFinalize" />
    <SetProperty Id="Installpip" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe pip" After="CostFinalize" />
    <SetProperty Id="Installpep8" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe pep8" After="CostFinalize" />
    <SetProperty Id="Installeventlet" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe eventlet" After="CostFinalize" />
    <SetProperty Id="Installroutes" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe routes" After="CostFinalize" />
    <SetProperty Id="Installgreenlet" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe greenlet" After="CostFinalize" />
    <SetProperty Id="Installargparse" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe argparse" After="CostFinalize" />
    <SetProperty Id="Installwsgiref" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe wsgiref" After="CostFinalize" />
    <SetProperty Id="Installpastedeploy" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe pastedeploy" After="CostFinalize" />
    <SetProperty Id="Installiso8601" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe iso8601" After="CostFinalize" />
    <SetProperty Id="Installmox" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe mox" After="CostFinalize" />
    <SetProperty Id="Installpaste" Value="[SystemFolder]cmd /c c:\python27\scripts\easy_install.exe paste" After="CostFinalize" />
    <SetProperty Id="Installmigrate" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe migrate" After="CostFinalize" />
    <SetProperty Id="Installnetaddr" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe netaddr" After="CostFinalize" />
    <SetProperty Id="Installcheetah" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe cheetah" After="CostFinalize" />
    <SetProperty Id="Installcarrot" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe carrot" After="CostFinalize" />
    <SetProperty Id="Installtempita" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe tempita" After="CostFinalize" />
    <SetProperty Id="Installsuds" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe suds" After="CostFinalize" />
    <SetProperty Id="Installlockfile" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe lockfile" After="CostFinalize" />
    <SetProperty Id="Installboto" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe boto" After="CostFinalize" />
    <SetProperty Id="Installkombu" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe kombu" After="CostFinalize" />
    <SetProperty Id="Installfeedparser" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe feedparser" After="CostFinalize" />
    <SetProperty Id="Installpylint" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe pylint" After="CostFinalize" />
    <SetProperty Id="Installsqlalchemy" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe sqlalchemy" After="CostFinalize" />
    <SetProperty Id="Installwmi" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe wmi" After="CostFinalize" />
    <SetProperty Id="Installpythonnovaclient" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe python-novaclient" After="CostFinalize" />
    <SetProperty Id="Installwebob" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\easy_install.exe webob" After="CostFinalize" />
    <SetProperty Id="Installglance" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\scripts\pip.exe install glance" After="CostFinalize" />
    <SetProperty Id="InstallNovaService" Value="&quot;[SystemFolder]cmd.exe&quot; /c SET PATH=%PATH%;[INSTALLDIR]nova; &amp;&amp; c:\python27\python.exe &quot;[INSTALLDIR]nova\bin\nova-compute.py&quot; install" After="CostFinalize" />
    <SetProperty Id="RenameCompute" Value="&quot;[SystemFolder]cmd.exe&quot; /c rename &quot;[INSTALLDIR]nova\bin\nova-compute&quot; nova-compute.py" After="CostFinalize" />
    <SetProperty Id="InstallPyWin321" Value="&quot;[SystemFolder]cmd.exe&quot; /c xcopy /Y /E &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\pywin32-217.win32-py2.7\PLATLIB&quot; c:\python27\lib\site-packages" After="CostFinalize" />
    <SetProperty Id="InstallPyWin322" Value="&quot;[SystemFolder]cmd.exe&quot; /c xcopy /Y /E &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\pywin32-217.win32-py2.7\SCRIPTS&quot; c:\python27\lib\site-packages" After="CostFinalize" />
    <SetProperty Id="InstallPyWin323" Value="&quot;[SystemFolder]cmd.exe&quot; /c cd c:\python27\lib\site-packages &amp;&amp; c:\python27\python.exe pywin32_postinstall.py -install" After="CostFinalize" />
    <SetProperty Id="InstallFiles" Value="&quot;[SystemFolder]cmd.exe&quot; /c c:\python27\python.exe &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\ez_setup.py&quot;" After="CostFinalize" />    
    <SetProperty Id="InstallPyMySQL" Value="&quot;[SystemFolder]cmd.exe&quot; /c xcopy /Y /E &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\MySQL-python-1.2.3.win32-py2.7\PLATLIB&quot; c:\python27\lib\site-packages" After="CostFinalize" />
    
    <CustomAction Id="InstallEZSetup" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installpip" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installpep8" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installeventlet" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installroutes" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installgreenlet" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installargparse" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installwsgiref" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installpastedeploy" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installiso8601" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installmox" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installpaste" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installmigrate" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installnetaddr" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installcheetah" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installcarrot" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installtempita" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installsuds" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installlockfile" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installboto" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installkombu" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installfeedparser" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installpylint" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installsqlalchemy" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installwmi" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installpythonnovaclient" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installwebob" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="Installglance" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="InstallNovaService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="RenameCompute" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="InstallPyWin321" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="InstallPyWin322" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="InstallPyWin323" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
    <CustomAction Id="InstallPyMySQL" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" />
   
    <InstallExecuteSequence>
        <Custom Action="InstallEZSetup" After='InstallFiles'>NOT Installed</Custom>
        <Custom Action="Installpip" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installpep8" After='Installpip'>NOT Installed</Custom>
        <Custom Action="Installeventlet" After='Installpep8'>NOT Installed</Custom>
        <Custom Action="Installroutes" After='Installeventlet'>NOT Installed</Custom>
        <Custom Action="Installgreenlet" After='Installroutes'>NOT Installed</Custom>
        <Custom Action="Installargparse" After='Installgreenlet'>NOT Installed</Custom>
        <Custom Action="Installwsgiref" After='Installargparse'>NOT Installed</Custom>
        <Custom Action="Installpastedeploy" After='Installwsgiref'>NOT Installed</Custom>
        <Custom Action="Installiso8601" After='Installpastedeploy'>NOT Installed</Custom>
        <Custom Action="Installmox" After='Installiso8601'>NOT Installed</Custom>
        <Custom Action="Installpaste" After='Installmox'>NOT Installed</Custom>
        <Custom Action="Installmigrate" After='Installpaste'>NOT Installed</Custom>
        <Custom Action="Installnetaddr" After='Installmigrate'>NOT Installed</Custom>
        <Custom Action="Installcheetah" After='Installnetaddr'>NOT Installed</Custom>
        <Custom Action="Installcarrot" After='Installcheetah'>NOT Installed</Custom>
        <Custom Action="Installtempita" After='Installcarrot'>NOT Installed</Custom>
        <Custom Action="Installsuds" After='Installtempita'>NOT Installed</Custom>
        <Custom Action="Installlockfile" After='Installsuds'>NOT Installed</Custom>
        <Custom Action="Installboto" After='Installlockfile'>NOT Installed</Custom>
        <Custom Action="Installkombu" After='Installboto'>NOT Installed</Custom>
        <Custom Action="Installfeedparser" After='Installkombu'>NOT Installed</Custom>
        <Custom Action="Installpylint" After='Installfeedparser'>NOT Installed</Custom>
        <Custom Action="Installsqlalchemy" After='Installpylint'>NOT Installed</Custom>
        <Custom Action="Installwmi" After='Installsqlalchemy'>NOT Installed</Custom>
        <Custom Action="Installpythonnovaclient" After='Installwmi'>NOT Installed</Custom>
        <Custom Action="Installwebob" After='Installpythonnovaclient'>NOT Installed</Custom>
        <Custom Action="Installglance" After='Installwebob'>NOT Installed</Custom>
        <Custom Action="InstallPyWin321" After='Installglance'>NOT Installed</Custom>
        <Custom Action="InstallPyWin322" After='InstallPyWin321'>NOT Installed</Custom>
        <Custom Action="InstallPyWin323" After='InstallPyWin322'>NOT Installed</Custom>
	<Custom Action="InstallPyMySQL" After='InstallPyWin322'>NOT Installed</Custom>
        <Custom Action="RenameCompute" After='InstallPyWin323'>NOT Installed</Custom>
        <Custom Action="InstallNovaService" After='RenameCompute'>NOT Installed</Custom>
    
    </InstallExecuteSequence>
    
    <Feature Id='Complete' Level='1'>
	<ComponentRef Id="SetPath" />
        <ComponentGroupRef Id="OpenStackFiles" />
    </Feature>

  </Product>
</Wix>