<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='OpenStack Compute Essex' Id='859910A4-8211-4672-B3F0-6445A0D70298' UpgradeCode='1EB0BDA1-3BCB-4E93-B67A-488C6A3678E5'
    Language='1033' Codepage='1252' Version='5.0.0' Manufacturer='OpenStack.org'>

    <Package Id='*' Keywords='Installer' Description="OpenStack Essex Installer"
      Comments='OpenStack Essex Installer' Manufacturer='OpenStack.org'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    <Media Id='1' Cabinet='essex.cab' EmbedCab='yes' />
        <Directory Id='TARGETDIR' Name='SourceDir'>
          <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='INSTALLDIR' Name='OpenStack'>
            </Directory>
          </Directory>
        </Directory>
    
    <Icon Id="openstack_icon.ico" SourceFile="openstack_icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="openstack_icon.ico" />
    
    
    <CustomAction Id="InstallEZSetup" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\python.exe &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\ez_setup.py&quot;" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installpip" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install pip" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installpep8" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install pep8" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installeventlet" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install eventlet" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installroutes" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install routes" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installgreenlet" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install greenlet" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installargparse" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install argparse" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installwsgiref" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install wsgiref" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installpastedeploy" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install pastedeploy" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installiso8601" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install iso8601" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installmox" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install mox" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installpaste" Directory='INSTALLDIR' ExeCommand="cmd /c c:\python27\scripts\easy_install paste" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installmigrate" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install migrate" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installnetaddr" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install netaddr" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installcheetah" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install cheetah" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installcarrot" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install carrot" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installtempita" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install tempita" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installsuds" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install suds" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installlockfile" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install lockfile" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installboto" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install boto" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installkombu" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install kombu" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installfeedparser" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install feedparser" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installpylint" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install pylint" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installsqlalchemy" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install sqlalchemy" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installwmi" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install wmi" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installpythonnovaclient" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install python-novaclient" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installwebob" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\easy_install webob" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installglance" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\pip.exe install glance" Return="ignore" Execute="deferred" />
    <CustomAction Id="Installglance2" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\scripts\pip.exe install glance" Return="ignore" Execute="deferred" />
    <CustomAction Id="InstallNovaService" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c c:\python27\python.exe &quot;[INSTALLDIR]nova\bin\nova-compute&quot; install" Return="ignore" Execute="deferred" />
    <CustomAction Id="InstallPyWin321" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c xcopy /Y /E &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\pywin32-217.win32-py2.7\PLATLIB&quot; c:\python27\lib\site-packages" Return="ignore" Execute="deferred" />
    <CustomAction Id="InstallPyWin322" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c xcopy /Y /E &quot;[INSTALLDIR]nova\tools\windows\msi_installer\files\pywin32-217.win32-py2.7\SCRIPTS&quot; c:\python27\lib\site-packages" Return="ignore" Execute="deferred" />
    <CustomAction Id="InstallPyWin323" Directory='INSTALLDIR' ExeCommand="[SystemFolder]cmd.exe /c cd c:\python27\lib\site-packages &amp;&amp; c:\python27\python.exe pywin32_postinstall.py -install" Return="ignore" Execute="deferred" />
    
    
    <InstallExecuteSequence>
        <Custom Action="InstallEZSetup" After='InstallFiles'>NOT Installed</Custom>
        <Custom Action="Installpip" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installpep8" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installeventlet" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installroutes" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installgreenlet" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installargparse" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installwsgiref" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installpastedeploy" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installiso8601" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installmox" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installpaste" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installmigrate" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installnetaddr" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installcheetah" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installcarrot" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installtempita" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installsuds" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installlockfile" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installboto" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installkombu" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installfeedparser" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installpylint" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installsqlalchemy" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installwmi" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installpythonnovaclient" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installwebob" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installglance" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="Installglance2" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="InstallPyWin321" After='InstallEZSetup'>NOT Installed</Custom>
        <Custom Action="InstallPyWin322" After='InstallPyWin321'>NOT Installed</Custom>
        <Custom Action="InstallPyWin323" After='InstallPyWin322'>NOT Installed</Custom>
        <Custom Action="InstallNovaService" After='InstallPyWin323'>NOT Installed</Custom>
        
    
    </InstallExecuteSequence>
    
    <Feature Id='Complete' Level='1'>
        <ComponentGroupRef Id="OpenStackFiles" />
    </Feature>

  </Product>
</Wix>